
    <footer class="footerr">
        Copyright &copy; <script>document.write(new Date().getFullYear())</script> ExplorAR<br><br> All Rights Reserved
        </footer>
        </body>
        </html>
      