<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExplorAR</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/6a88e369f2.js" crossorigin="anonymous"></script>
    <style>
    body{
        background-color: black;
        color:#fff;
        text-align:center;
    }
    h1,h2{
        padding:3%;
        color:pink;
        text-align:center;
        
    }
    p{
        margin-left: 10%;
        width:80%;
        text-align: left;
        padding-bottom: 2%;
    
    }
    .footerr{
    background-color:#292b2c;
    color:#0275d8;
    text-align: center;
    
    padding-top: 1%;
    
    font-size:1rem;
    padding-bottom: 2%;
}
    img{
        padding-bottom: 2%;
    }
    
</style>
</head>
<body>
    <h1>How Did the Known Structures in the Universe Evolve?</h1>
    <div class="container">
        <p>The question of evolution of structures in the Universe is perhaps the central question of astronomy. After all, 
            astronomers are "historians of the Universe": since light travels with finite speed, looking "far in the distance" is 
            looking "far back in time".<br><br>Observations of the farthest reaches of the Universe show that it is 'lumpy', with well developed 
            structures that are very old. 
            We detect galaxies and clusters of galaxies as far back in time as we can see, when the Universe was about one fifth of its current 
            age. However, we still do not understand how these structures condensed out of the 'primordial soup'. The formation of structure 
            appears much quicker than the current theories would have it!<br><br>These structures - old and new - are tightly bound via gravity, 
            yet we cannot account for all the mass that would provide this gravity. Where is the mass?</p>
        </div>
        <img src="img31.gif">
        
        <div class="container">
        <p>Many of the old structures show a variety of chemical elements are present - we know this from a study of their spectra. 
            For instance, the diffuse gas permeating clusters of galaxies contains a comparable fraction of heavy elements 
            (i.e. elements other than hydrogen and helium) to that observed presently in our own Galaxy - yet these clusters formed long ago.<br>
            We know that the early Universe contained only the lightest elements: hydrogen and helium. All heavier elements were synthesized 
            <br>from these two light ones, and the only place we know this can happen is in the centers of stars. Subsequently, these elements were 
            dispersed into the interstellar medium via supernova explosions. But is this the only way of making heavier elements, or are we just 
            oblivious to another avenue of producing them?<br><br>
            Astronomers are thus literally presented with a form of the "chicken or the egg?" question, namely "stars or galaxies?" This makes 
            unraveling the riddle of the formation of the structure of the Universe much more challenging. The best way to answer this question 
            is to look back in time with a sensitive instrument - to measure the presence of elements in the most distant galaxies and clusters 
            of galaxies.
        </p>

    </div>
    
    <footer class="footerr">
        Copyright &copy; <script>document.write(new Date().getFullYear())</script> ExplorAR<br><br> All Rights Reserved
        </footer>
        </body>
        </html>

