<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExplorAR</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/6a88e369f2.js" crossorigin="anonymous"></script>
    <style>
    body{
        background-color: black;
        color:#fff;
        text-align:center;
    }
    h1,h2{
        padding:3%;
        color:pink;
        text-align:center;
        
    }
    p{
        margin-left: 10%;
        width:80%;
        text-align: left;
        padding-bottom: 2%;
    
    }
    .footerr{
    background-color:#292b2c;
    color:#0275d8;
    text-align: center;
    
    padding-top: 1%;
    
    font-size:1rem;
    padding-bottom: 2%;
}
</style>
</head>
<body>
    <h1>Dark Energy</h1>
    <div class="container">

        <p>The discovery in 1998 that the Universe is actually speeding up its expansion was a total shock to astronomers. 
            It just seems so counter-intuitive, so against common sense. But the evidence has become convincing.<br><br>
            The evidence came from studying distant Type Ia supernovae. This type of supernova results from having a white dwarf star in a binary 
            system. Matter transfers from the normal star to the white dwarf until the white dwarf attains a critical mass 
            (the Chandrasekhar limit) and undergoes a thermonuclear explosion. Because all white dwarfs achieve the same mass before exploding, 
            they all achieve the same luminosity and can be used by astronomers as "standard candles." Thus by observing their apparent brightness, 
            astronomers can determine their distance using the 1/r2 law.<br><br>
            By knowing the distance to these supernovae, we know how long ago they occurred. In addition, the light from the supernova has 
            been red-shifted by the expansion of the Universe. By measuring this redshift from the spectrum of the supernova, astronomers can 
            determine how much the Universe has expanded since the explosion. By studying many supernovae at different distances, astronomers 
            can piece together a history of the expansion of the Universe.<br><br>
            In the 1990's two teams of astronomers, the Supernova Cosmology Project (Lawrence Berkeley National Laboratory) and 
            the High-Z Supernova Search (international), were looking for distant Type Ia supernovae in order to measure the expansion 
            rate of the Universe with time. They expected that the expansion would be slowing, which would be indicated by the supernovae 
            being brighter than their redshifts would indicate. Instead, they found the supernovae to be fainter than expected. Hence, the 
            expansion of the Universe was accelerating!<br><br>
            In addition, measurements of the cosmic microwave background indicate that the Universe has a flat geometry on large scales. 
            Because there is not enough matter in the Universe -- either ordinary or dark matter -- to produce this flatness, the difference 
            must be attributed to a "dark energy". This same dark energy causes the acceleration of the expansion of the Universe. In addition, 
            the effect of dark energy seems to vary, with the expansion of the Universe slowing down and speeding up over different times.<br><br>
            Astronomers know dark matter is there by its gravitational effect on the matter that we see, and there are ideas about the kinds 
            of particles it must be made of. By contrast, dark energy remains a complete mystery. The name "dark energy" refers to the fact that 
            some kind of "stuff" must fill the vast reaches of mostly empty space in the Universe in order to be able to make space accelerate in 
            its expansion. In this sense, it is a "field" just like an electric field or a magnetic field, both of which are produced by 
            electromagnetic energy. But this analogy can only be taken so far, because we can readily observe electromagnetic energy via the 
            particle that carries it, the photon.<br<br>>Some astronomers identify dark energy with Einstein's Cosmological Constant. Einstein 
            introduced this constant into his general relativity when he saw that his theory was predicting an expanding universe, which was 
            contrary to the evidence for a static universe that he and other physicists had in the early 20th century. This constant balanced 
            the expansion and made the Universe static. With Edwin Hubble's discovery of the expansion of the Universe, Einstein dismissed his 
            constant. It later became identified with what quantum theory calls the energy of the vacuum.<br><br>In the context of dark energy, 
            the cosmological constant is a reservoir which stores energy. Its energy scales as the Universe expands. Applied to the supernova data,
             it would distinguish effects due to the matter in the Universe from those due to the dark energy. Unfortunately, the amount of this 
             stored energy required is far more than observed and would result in very rapid acceleration -- so much so that the stars and galaxies
              would not form. Physicists have suggested a new type of matter, "quintessence," which would fill the Universe like a fluid which has
               a negative gravitational mass. However, new constraints imposed on cosmological parameters by Hubble Space Telescope data rule out 
               at least simple models of quintessence.
        
        
        
        
        
        
        
        </p>
    </div>
   
    <footer class="footerr">
        Copyright &copy; <script>document.write(new Date().getFullYear())</script> ExplorAR<br><br> All Rights Reserved
        </footer>
        </body>
        </html>