<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExplorAR</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/6a88e369f2.js" crossorigin="anonymous"></script>
    <style>
    body{
        background-color: black;
        color:#fff;
        text-align:center;
    }
    h1,h2{
        padding:3%;
        color:pink;
        text-align:center;
        
    }
    p{
        margin-left: 10%;
        width:80%;
        text-align: left;
        padding-bottom: 2%;
    
    }
    .footerr{
    background-color:#292b2c;
    color:#0275d8;
    text-align: center;
    
    padding-top: 1%;
    
    font-size:1rem;
    padding-bottom: 2%;
}
    img{
        padding-bottom: 2%;
    }
</style>
</head>
<body>
    <h1>The Nature of Dark Matter</h1>
    <img src="img2.gif">
    <div class="container">
        <p>In general, astronomers learn about the Universe by the electromagnetic radiation (or light) that we see from it. The light we see is in the 
            form of radio waves, infrared, optical, ultraviolet, X-ray, and gamma-ray emission. But what if there is material in the Universe that does
             not glow?How will we ever know it is there? How can we tell how much of it there is? How do we know what it is?<br><br>
             Such material is called "dark matter", and astronomers now believe that most of the material in the Universe is made of this stuff. 
             It is material that does not emit sufficient light for us to directly detect it, yet there are a variety of ways that we can indirectly
              detect it. The most common method involves the fact that dark matter has a gravitational pull on both the light and the sources of light
               that we can see. From the effects of "extra" gravity that we detect, we infer how much mass must be present.<br><br>
               The image above shows one way this is done. Pictured here are two superimposed images of the Coma Cluster of galaxies. 
               The red areas are X-ray light seen by the Einstein satellite; the blue is visible light from a Palomar Sky Survey optical 
               image (made with ground-based telescopes at Caltech). Scientists have used these observations and others to determine the 
               amount of gravity required to hold together all the mass detected in the image. Surprisingly, there is not nearly enough mass 
               observed to explain the inferred gravity - somehow, there is undetected "missing mass." What could this "missing mass" be?<br><br>
               The kinds of materials that we experience every day are made of atoms, which are composed of protons, neutrons, and electrons. 
               We refer to this type of matter as "baryonic". Is the dark matter in the Universe made of the same stuff that we are familiar with,
                i.e., is it baryonic? Or is it something strange ... some kind of exotic new material, which we could call non-baryonic?<br><br>
                So far, it looks like there are both baryonic and non-baryonic types of dark matter. Some dark matter may be composed of regular matter 
                (ie., baryonic), but simply not give off much light. Things like brown dwarf stars would be in this catagory. Other non-baryonic dark matter 
                may be tiny, sub-atomic particles which aren't a part of "normal" matter at all. If these tiny particles have mass and are numerous, 
                they could make up a large part of the dark matter we think exists. If true, then it's possible that most of the matter in the Universe is of 
                some mysterious form that we cannot yet even identify!


            
            
            </p>
    </div>
    <footer class="footerr">
        Copyright &copy; <script>document.write(new Date().getFullYear())</script> ExplorAR<br><br> All Rights Reserved
        </footer>
        </body>
        </html>
