<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExplorAR</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/6a88e369f2.js" crossorigin="anonymous"></script>
    <style>
    body{
        background-color: black;
        color:#fff;
        text-align:center;
    }
    h1,h2{
        padding:3%;
        color:pink;
        text-align:center;
        
    }
    p{
        margin-left: 10%;
        width:80%;
        text-align: left;
        padding-bottom: 2%;
    
    }
    li{
        margin-left:22%;
        text-align:left;
        
    }
    .footerr{
    text-align:center;
    padding-bottom: 3%;
    padding-top: 3%;
    background-color:#292b2c;
    color:#0275d8;

}
img{
    padding-bottom: 3%;
}
    
</style>
</head>
<body>
    <h1>What is the structure and behavior of matter under extreme conditions?</h1>
    <div class="container">
        <p>In the Universe, there are many cases in which matter has evolved to extreme physical conditions. Examples include white dwarfs 
            and neutron stars, where the gravitational force of collapse is balanced by the quantum forces exerted by electrons and nuclear 
            matter. It also includes black holes, where the force of gravity has won out over all other forces and the mass density is so high 
            that even light is gravitationally bound to the object. We can study these systems in more depth by studying the effects they have 
            on the matter around them. Neutron stars and black holes found in galaxies often have binary companions that are so close that 
            stellar material is transferred to the compact object. Black holes are also highly likely to be at the centers of most galaxies 
            and have huge accretion disks around them. As matter falls closer to the compact object, it is heated to such an extreme 
            temperature that X-rays are the primary form of emission. <br></p>
</div>
<img src="img6.gif">
<div class="container">
    <p>The X-ray emission is then the carrier of information that offers clues to the underlying compact object. So far, this 
        emission has provided a number of insights into the structure of the matter in the vicinity of these objects:</p>
</div>
    <li>Highly coherent X-ray and radio pulsed signals</li>
    <li>X-ray bursts</li>
    <li>Both high- and low-frequency quasiperiodic oscillations</li>
    <li>Aperiodic variability</li>
    <li>Unique spectral signatures</li>
    <br>
<div class="container">
    <p>From these probes, we can address such questions as:</p>
</div>

        <li>What is the equation of state of nuclear matter?</li>
        <li>How do neutron stars cool, and how long does it take?</li>
        <li>What is the structure of neutron star atmospheres undergoing accretion from the interstellar medium and from binary companions?</li>
        <li>How do neutron stars lose their magnetic fields?</li>
        <li>What is the structure of neutron star magnetospheres?</li>
        <li>How does electromagnetic radiation and matter come into equilibrium in very high gravitational and magnetic fields that are 
            up to a trillion times greater than encountered here on Earth?</li>
        <li>Are galactic compact stellar objects with masses greater than 3 solar masses really black holes?</li>
        <li>What is the structure of matter around black holes?</li>
        <br><br>
    <footer class="footerr">
        2021 Copyright ExplorAR
    </footer>
</body>
</html>



