<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExplorAR</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/6a88e369f2.js" crossorigin="anonymous"></script>
    <style>
    body{
        background-color: black;
        color:#fff;
        text-align:center;
    }
    h1,h2{
        padding:3%;
        color:pink;
        text-align:center;
        
    }
    p{
        margin-left: 10%;
        width:80%;
        text-align: left;
        padding-bottom: 2%;
    
    }
    .footerr{
    background-color:#292b2c;
    color:#0275d8;
    text-align: center;
    
    padding-top: 1%;
    
    font-size:1rem;
    padding-bottom: 2%;
}
    img{
        padding-bottom: 2%;
    }
    
</style>
</head>
<body>
    <h1>Origin and Destiny of the Universe</h1>
    <div class="container">
<p>Why is our Universe the way we see it to be? And what will ultimately become of it? 
    These are two fundamental questions which have long interested humankind. Since the 1929 discovery that Universe is expanding, we have made some significant steps in understanding how the Universe began and how it must have evolved to be what it is today. We know this: galaxies and clusters of galaxies formed from tiny fluctuations in the early Universe. We can measure these fluctuations by mapping the cosmic background radiation and relate them to the structures which we observe today. However, many challenges remain such as:
</p>
</div>
<h2>What is the Age of the Universe? - or - How Fast is the Universe Expanding?
</h2>
<div class="container">
<p>In the 1920s, Edwin Hubble used the 100" telescope (2.5 meters) at the Mount Wilson Observatory in California to detect variable stars in nebulae. 
    He discovered that the stars he observed had the same characteristic variations in their brightness as a class of stars called Cepheid 
    Variables. Earlier, astronomer Henrietta Levitt had shown there was a precise correlation between the periodic change in brightness of a 
    Cepheid Variable and its luminosity. Hubble was able use this correlation to show that the nebulae containing the variable stars he observed 
    were not within our own Galaxy; they were in external galaxies far beyond the edge of our Milky Way.
</p>
</div>
<img src="img1.gif">
<div class="container">
<p>Hubble determined the distances to the galaxies and the velocities that they were moving at, relative to Earth. From this, he discovered an amazing thing: the farther galaxies were away from us, the faster they were moving away from us. 
    In other words, the Universe was expanding!</p>
</div>
<h2>What is the Shape of the Universe?</h2>
<div class="container">
<p>The density of the Universe determines its geometry or shape. If the density of the Universe exceeds the so-called "critical density", then the shape of space is curved like the surface of a huge sphere. If the density of the Universe is less than the "critical density", then the shape of space is curved like the surface of a saddle. If the density of the Universe exactly equals the "critical density", then the shape of the Universe is flat like a sheet of paper.
    Astronomers are still trying to accurately measure the shape of the Universe. The most widely accepted theory predicts 
    that the density of the Universe is very close to the critical density, and that the shape of the Universe should be flat, 
    like a sheet of paper.</p>
</div>
<h2>What is the Fate of the Universe?</h2>
<div class="container">
<p>Cosmologists envision two possible fates for the Universe: The Big Freeze or the Big Crunch. The evolution of the Universe is determined by a struggle between the outward momentum of expansion and the inward pull of gravity. The strength of gravity depends on the density of the Universe. If the density of the Universe is less than the critical density, then the Universe will expand forever. If the density of the Universe is greater than the critical density, then gravity will eventually win, and 
    the Universe will collapse back on itself</p>
</div>

<footer class="footerr">
    Copyright &copy; <script>document.write(new Date().getFullYear())</script> ExplorAR<br><br> All Rights Reserved
    </footer>
    </body>
    </html>
