<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExplorAR</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/6a88e369f2.js" crossorigin="anonymous"></script>
    <style>
    body{
        background-color: black;
        color:#fff;
        text-align:center;
    }
    h1,h2{
        padding:3%;
        color:pink;
        text-align:center;
        
    }
    p{
        margin-left: 10%;
        width:80%;
        text-align: left;
        padding-bottom: 2%;
    
    }
    .footerr{
    text-align:center;
    padding-bottom: 3%;
    padding-top: 3%;
    background-color:#292b2c;
    color:#0275d8;
    }
    img{
        padding-bottom: 2%;
    }
    
</style>
</head>
<>
    <h1>How Do Massive Black Holes Grow?</h1>
    <img src="img4.gif">
    <div class="container">
        <p>Black holes up to about 50 times the mass of our Sun can be formed by normal processes in very massive stars. 
            This can happen throughout galaxies wherever stars have formed recently. One way to grow a more massive black hole is for a 
            seed black hole in a dense galactic nucleus to swallow up gas and normal stars. Under the right conditions, a thousand solar 
            mass black hole can grow to millions or billions of times the mass of the Sun in a fraction of the lifetime of the Universe.
            <br>
            Alternatively, gas in a dense galactic nucleus can get so concentrated that a supermassive star will form and evolve quickly to 
            produce a massive black hole of up to 1000 solar masses. This grows either by accretion or via mergers with other black holes of 
            similar mass. Currently, astronomers don't know which of these processes is the more common method for generating a massive black hole.
            <br>
            Many astronomers believe that most spiral and elliptical galaxies contain massive black holes. We have evidence of a massive black 
            hole in one dwarf elliptical galaxy: M32 in the Local Group. Further research is needed to determine if other types of galaxies also 
            contain massive black holes.
        
        
        
        
        
        
        </p>
    </div>

    <footer class="footerr">
        2021 Copyright ExplorAR
    </footer>
</body>
</html>