<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExplorAR</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/6a88e369f2.js" crossorigin="anonymous"></script>
    <style>
    body{
        background-color: black;
        color:#fff;
        text-align:center;
    }
    h1,h2{
        padding:3%;
        color:pink;
        text-align:center;
        
    }
    p{
        margin-left: 10%;
        width:80%;
        text-align: left;
        padding-bottom: 2%;
    
    }
    .footerr{
    background-color:#292b2c;
    color:#0275d8;
    text-align: center;
    
    padding-top: 1%;
    
    font-size:1rem;
    padding-bottom: 2%;
}
    
</style>
</head>
<body>
    <h1>How do we measure the size and the age of the Universe?</h1>
    <div class="container">
        <p>Astronomers estimate that the Big Bang occurred between 10 and 20 billion years ago. They estimate the age of the Universe in two ways:
        (a) by looking for the oldest stars; and (b) by measuring the rate of expansion of the Universe and extrapolating back to the Big Bang.
        </p>
    </div>
    <img src="img7.jpg">
    <h2>The Oldest Stars</h2>
    <div class="container">
        <p>Astronomers can figure out the ages of some of the oldest stars in the Universe by studying globular clusters. A globular 
            cluster is a dense collection of close to a million stars, all of which formed at roughly the same time. The density of 
            stars near the center of a globular cluster is enormous. If we lived near the center of a globular cluster, there would be 
            several hundred thousand stars closer to us than Alpha Centauri, our current nearest stellar neighbor.<br><br>
            The life cycle of a star depends upon its mass. High mass stars are much brighter than low mass stars; thus they rapidly burn 
            through their supply of hydrogen fuel. A star like the Sun has enough fuel in its core to burn at its current brightness for 
            approximately 9 billion years. A star that is twice as massive as the Sun will burn through its fuel supply in only 800 million 
            years. A 10 solar mass star (a star that is 10 times more massive than the Sun) burns nearly a thousand times brighter and has 
            only a 20 million year fuel supply. Conversely, a star that is half as massive as the Sun burns slowly enough for its fuel to 
            last more than 20 billion years.<br><br>
            Since all of the stars in a globular cluster formed at roughly the same time, these clusters can serve as cosmic clocks. 
            If a globular cluster is more than 10 million years old, then all of its hydrogen burning stars will be less massive than 10 
            solar masses. This implies that no individual hydrogen burning star will be more than 1000 times brighter than the Sun. If a 
            globular cluster is more than 2 billion years old, then there will be no hydrogen-burning star more massive than 2 solar masses.<br><br>
            The oldest globular clusters contain only stars less massive than 0.7 solar masses. These low mass stars are much dimmer than the Sun.
             This suggests that the oldest globular clusters are between 11 and 18 billion years old. The uncertainty in this estimate is due to 
             the difficulty in determining the exact distance to a globular cluster (hence, an uncertainty in the brightness (and mass) of the 
             stars in the cluster). Another source of uncertainty in this estimate lies in our ignorance of some of the finer details of stellar 
             evolution.
        </p>

    </div>
    <h2>Extrapolating Back to the Big Bang</h2>
    <div class="container">
        <p>Another way to estimate the age of the Universe is to measure the "Hubble constant". The Hubble constant (H0) is a measure of the 
            current expansion rate of the Universe. Cosmologists use this measurement to extrapolate back to the Big Bang. This extrapolation 
            depends upon the current density of the Universe and on the composition of the Universe.<br><br>
            If the Universe is flat and composed mostly of matter, then the age of the Universe is 2/(3 H0). If the Universe has a very 
            low density of matter, then its extrapolated age is larger: 1/H0. If the theory of general relativity is modified to include 
            a cosmological constant, then the inferred age can be even larger.<br><br>
            Many astronomers are working hard to measure the Hubble constant using a variety of different techniques. The current best 
            estimates of H0 range from 50 kilometers/sec/Megaparsec to 100 km/s/Megaparsec. In more familiar units, astronomers believe 
            that 1/H0 is between 10 and 20 billion years.<br><br>
            If we compare the two age determinations, there is a potential crisis. If the astronomers who estimate that 1/H0 is as small as 
            10 Billion years are correct, then the age of the Universe would be shorter than the age of its oldest stars. This contradiction 
            implies that either the Big Bang theory is incorrect or that we need to modify general relativity by adding a cosmological constant.<br><br>
            Some astronomers believe that this crisis will pass as soon as our measurements improve. If the astronomers who have measured 
            the larger values of 1/H0 are correct and the smaller estimates of globular cluster ages are also correct, then all may be well 
            for the Big Bang theory.


        
        
        
        
        
        
        
        </p>



    </div>
    <footer class="footerr">
        Copyright &copy; <script>document.write(new Date().getFullYear())</script> ExplorAR<br><br> All Rights Reserved
        </footer>
        </body>
        </html>
