body{
    background-image:url("1219743.jpg");
}
h1{
    padding-top: 3%;
}
h1,p{
    padding-bottom: 2%;
    
    color:#fff;
    
    text-align:center;
    width:70%;
    margin:auto;
}

img{
    align-items: center;
    width:50%;
    padding:2%;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.footerr{
    text-align:center;
    padding-bottom: 3%;
    padding-top: 3%;
    background-color:#292b2c;
    color:#0275d8;

}
.divv{
    width:fit-content;
    height:fit-content;
    background-color:#ff005c;
    display:grid;
    place-items: center;
    margin:auto;
    border-radius:1rem;
    box-shadow: 0 1rem  1rem  rgba(0,0,0,alpha);
    margin-bottom: 3%;
    margin-top: 3%;
}