body{
    background-image:url("wp6547134.jpg");
    
        
    
}

h1,p{
    padding-bottom: 2%;
    color:#fff;
    text-align:center;
    margin:auto;
}
p{
    width:80%;
}
h1{
    padding-top: 3%;
    color:#72147e
}

img{
    align-items: center;
    width:500px;
    height:500px;
    object-fit:cover;
    padding:2%;
    
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.footerr{
    background-color:#292b2c;
    color:#0275d8;
    text-align: center;
    
    padding-top: 1%;
    
    font-size:1rem;
    padding-bottom: 2%;
}
.divv{
    width:70%;
    height:70%;
    background-color:#fb743e;
    display:grid;
    place-items: center;
    margin:auto;
    border-radius:1rem;
    -webkit-box-shadow: -2px 3px 5px 4px rgba(0,0,0,0.32); 
box-shadow: -2px 3px 5px 4px rgba(0,0,0,0.32);
    margin-bottom: 3%;
    margin-top: 3%;
    border-radius: 15px;
}
.vid{
    margin-top:2%;
    width:50vw;
    height:50vh;
    margin-left: 25%;
    margin-bottom: 5%;
    
}